*{
    margin:10;
    padding: 10;

  /* Este es tu comentario background: rgb(63,105,251);
background: radial-gradient(circle, rgba(63,105,251,0.5914740896358543) 0%, rgba(70,233,252,0.6699054621848739) 100%);
*/
}


h1 {
  margin: 10px;
  padding: 50px;
  color:red;
}
.h2, p {
  margin: 4px;
  font-size: 90%;
  padding: 20;
}
div {
  border: black 3px solid;
}
body{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}
#container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #DDD;
  margin: 0auto;
}
#container h1{
  font-size: 20px;

}
#cabecera{
background: #359;
box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
color: white;
font-weight: bold;
margin: 0;
padding: 0.5em;
left: 40px;


}

cabecera #tagline{

  padding: 1em 0 0 0;
  font-weight: normal;
  font-size: 0.8em;
}
